:root {
  --dark-color: #1C2329;
  --light-color: #FFF;
  --off-light-color: #ABB7BD;
  --orange-color: #FF8C00;
  --orange-color-dark: #E67300;
}

body {
  background-color: var(--dark-color);
  color: var(--off-light-color);
}

h1, h2, h3 {
  color: var(--light-color);
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 54px;
  margin: 0 0 58px;
}

h2 {
  font-size: 45px;
  margin: 0 0 49px;
}

p {
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px; 
  line-height: 26px;
  margin: 0;
}

a {
  font-family: 'Lato', sans-serif;
  color: var(--orange-color);
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: var(--orange-color-dark);
}

.credit {
  margin: 25px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container--header {
  max-width: 900px;
  min-width: 750px;
}

.container--body {
  max-width: 1000px;
  min-width: 800px;
}

.header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header p {
  max-width: 60%;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.filter {
  font-family: 'Lato', sans-serif;
  color: var(--orange-color);
  font-weight: 600;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  border: 2px solid var(--orange-color);
  cursor: pointer;
}

.filter:hover {
  transform: scale(1.05);
}

.filter.active {
  background-color: var(--orange-color);
  color: var(--dark-color);
}

.books {
  padding: 50px 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 32%;
  min-height: 160px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--light-color);
  margin: 0 calc(4%/6) 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.book:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.book h3 {
  color: var(--dark-color);
  font-weight: 500;
  margin-bottom: 0;
}

.book p {
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 300;
}

.button {
  background-color: var(--orange-color);
  color: var(--light-color);
  font-family: 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin-top: auto;
}

.button:hover {
  background-color: var(--orange-color-dark);
}

.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 60%;
  max-width: 700px;
  min-width: 500px;
  min-height: 100px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.close img {
  height: 100%;
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  color: var(--dark-color);
  margin-bottom: 10px;
}

.modal-content p {
  color: var(--dark-color);
  font-size: 20px;
  margin-bottom: 30px;
}

.modal-content a {
  font-weight: 600;
  font-size: 17px;
}